{
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^(@/|[./])(?!.*\\.css$)", "^[./].*\\.css$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
