{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "importOrder": [
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^(@/|[./])(?!.*\\.css$)",
    "^[./].*\\.css$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
